/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.03.2018, 14:26:18
    Author     : Florian Steffen
*/

#error{

    color:red;
    padding: 1ex 0;
}

#contentarea {
    margin-top: 2em;
}

